<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link href="/public/css/index.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="myApp">
{% include 'header.html' %}
<div class="bg">
    <div class="zuyoum">
        <div class="zuyoum1">
            <div>Miracles happen every day.</div>
            <div>奇迹每天都在发生</div>
        </div>
    </div>
</div>
<script src="/public/js/angular.min.js"></script>
{% comment %}<script src="/public/js/myApp.js"></script>
<script src="/public/js/header.js"></script>{% endcomment %}

<script src="/public/js/index.min.js"></script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% comment %}   <script src="/public/js/12.js"></script>{% endcomment %}
</body>
</html>